@model EnglishStudySystem.ViewModel.TestDetailViewModel

@{
    ViewBag.Title = $"Chi tiết Bài kiểm tra: {Model.Title}";
}

<h2>Chi tiết Bài kiểm tra: @Model.Title</h2>

<div>
    <h4>Thông tin chung</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Tiêu đề:</dt>
        <dd>@Html.DisplayFor(model => model.Title)</dd>

        <dt>Mô tả:</dt>
        <dd>@Html.DisplayFor(model => model.Description)</dd>

        <dt>Thuộc Bài học:</dt>
        <dd>@Html.ActionLink(Model.LessonTitle, "Details", "Lessons", new { id = ViewBag.LessonId }, null)</dd>

        <dt>Số lượng câu hỏi:</dt>
        <dd>@Html.DisplayFor(model => model.QuestionCount)</dd>

        <dt>Thời gian làm bài:</dt>
        <dd>@Html.DisplayFor(model => model.Duration) phút</dd>
    </dl>
</div>

<h3>Danh sách Câu hỏi</h3>
<hr />
@if (Model.Questions != null && Model.Questions.Any())
{
    var questionCounter = 0;
    foreach (var question in Model.Questions.OrderBy(q => q.Order))
    {
        <div class="question-block">
            <h4>Câu hỏi số @(questionCounter + 1): @Html.Raw(question.Content)</h4>
            <ul class="list-group">
                @foreach (var answer in question.Answers.OrderBy(a => a.Id))
                {
                    var isCorrect = question.CorrectAnswerIndex == question.Answers.ToList().IndexOf(answer);
                    var answerChar = (char)('A' + question.Answers.ToList().IndexOf(answer));

                    <li class="list-group-item @(isCorrect ? "list-group-item-success" : "")">
                        <strong>Đáp án @answerChar:</strong> @Html.Raw(answer.Content)
                        @if (isCorrect)
                        {
                            <span class="label label-success pull-right">Đúng</span>
                        }
                    </li>
                }
            </ul>
        </div>
        questionCounter++;
    }
}
else
{
    <p>Bài kiểm tra này chưa có câu hỏi nào.</p>
}

<p style="margin-top: 20px;">
    @Html.ActionLink("Sửa Bài kiểm tra", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Quay lại Bài học", "Details", "Lessons", new { id = ViewBag.LessonId }, new { @class = "btn btn-default" })
</p>