@model EnglishStudySystem.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Quên mật khẩu";
}


<head>
    <link href="~/Content/CSS/RegisterStyle.css" rel="stylesheet" />
    <link href="~/Content/CSS2/ForgetPasswordStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
</head>

<div class="login-form-wrapper">
    <h2 style="color: #28a745;">@ViewBag.Title</h2>

    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Nhập email của bạn" })
            </div>
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>

        <div class="form-submit">
            <button type="submit" class="login-btn">
                <span class="btn-text">Gửi liên kết</span>
                <i class="fas fa-paper-plane btn-icon"></i>
            </button>
        </div>

        <div class="back-to-login">
            @Html.ActionLink("Quay lại đăng nhập", "Login", null, new { @class = "register-link" })
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}